.DS_Store
build/tests
build/examples
data/mnist/
data/cifar-10-batches-bin
data/SOL_flat/
data/Tiny_SOL
book/build
book/generated
book/book.aux
book/book.bbl
book/book.bcf
book/book.fdb_latexmk
book/book.fls
book/book.idx
book/book.ilg
book/book.ind
book/book.log
book/book.mw
book/book.run.xml
book/book.synctex.gz
book/book.toc
.vscode
